.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  .userList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: calc(100vh - 100px);
    padding: 24px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
  }
}

.task {
  display: flex;
  gap: 12px;

  .deleteButton {
    padding: 8px 16px;
    background-color: #ff8787;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      background-color: #ff5e5e;
    }
  }
}
